{% extends "list.html" %}
{% load static %}
{% load widget_tweaks %}
{% block head_list %}
  <script src="{% static 'pet/list.js' %}"> </script>
{% endblock %}
 
{% block add_element %}
<a href="#" class="btn btn-colores btn-add"><i class="fas fa-plus-square"></i></a>
{% endblock add_element %}
 
{% block t_body %}
    <tr>
        <th scope="col" style="width: 5%;">id</th>
        <th scope="col" style="width: 10%;">Nombre</th>
        <th scope="col" style="width: 10%;">Nacimiento</th>
        <th scope="col" style="width: 10%;">Sexo</th>
        <th scope="col" style="width: 5%;">Peso</th>
        <th scope="col" style="width: 8%;">Especie</th>
        <th scope="col" style="width: 10%;">Cliente</th>
        <th scope="col" style="width: 5%;">Estado</th>
        <th scope="col" style="width: 15%;">Opciones</th>
    </tr>
{% endblock t_body %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="ModalNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <form method="POST" action="">
    {% csrf_token %}
    <input type="hidden" name="action" value="add" id="status">
    <input type="hidden" name="id" id="id" value="0">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header color-nav">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <div class="card-body">
  
                  <div class="form-group">
                    <div class="row">
                      <div class="col">
                        <label for="id_client">Cliente <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.client|add_class:'form-control'|attr:'name:client'|add_class:'select2'|attr:'style:width:100%'}}
                      </div>
                      <div class="col">
                        <label for="id_name">Nombre <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.name|add_class:'form-control'|attr:'name:name'|attr:'placeholder:Introduzca el Nombre'|attr:'autocomplete:off'|attr:'maxlength:50' }}
                      </div>


                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">

                      <div class="col">
                        <label for="id_gender">Genero <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.gender|add_class:'form-control'|attr:'name:gender'}}
                      </div>
                      <div class="col">
                        <label for="id_weight">Peso <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.weight|add_class:'form-control'|attr:'name:weight'|attr:'placeholder:Direccion'}}
                      </div>
                      <div class="col">
                        <label for="id_specie">Especie <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.specie|add_class:'form-control'|attr:'name:specie'}}
                      </div>


                    </div>                      
                  </div>

                  <div class="form-group">
                    <div class="row">

                      <div class="col">
                        <label for="id_race">Raza <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.race|add_class:'form-control'|attr:'name:race'|attr:'placeholder:Raza'|attr:'pattern:[a-zA-Z ]+$'|attr:'maxlength:30'}}
                      </div>

                      <div class="col">
                        <label for="id_substitute">Suplente</label>
                        {{ form.substitute|add_class:'form-control'|attr:'name:substitute'|attr:'placeholder:Introduzca el Suplente'|attr:'autocomplete:off'|attr:'maxlength:50'|attr:'pattern:[a-zA-Z ]+$' }}
                      </div>

                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">

                      <div class="col">
                        <label for="id_date_nac">F_Nacimiento <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.date_nac|add_class:'form-control'|attr:'name:date_nac'|attr:'type:date'}}
                      </div>
                      <div class="col">
                        <label for="id_date_up">F_Visita <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.date_up|add_class:'form-control'|attr:'name:date_up'|attr:'type:date'}}
                      </div>

                    </div>
                  </div>
            
                  <div class="custom-control custom-switch custom-switch-on-success custom-switch-off-white">
                      {{ form.status|add_class:'custom-control-input'|attr:'name:status'|add_class:'status'}}
                      <label class="custom-control-label" for="id_status" >Estado <span class="text-danger" title="Campo Obligatorio">*</span></label>
                  </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success btn-colores">Guardar</button>
          </div>
        </div>
      </div>
  </form>
</div>
<div class="modal fade" id="Modal_Detail" style="display: none" aria-hidden="true">
</div>
{% endblock modal %}
