{% extends "list.html" %}
{% load static %}
{% load widget_tweaks %}
{% block head_list %}
  <script src="{% static 'product/list.js' %}"> </script>
{% endblock %}
 
{% block add_element %}
<a href="#" class="btn btn-colores btn-add"><i class="fas fa-plus-square"></i></a>
{% endblock add_element %}
 
{% block t_body %}
    <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Unidad</th>
        <th scope="col">Cant. Unidad</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock t_body %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="ModalNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <form method="POST" id="form1" action="">
    {% csrf_token %}
    <input type="hidden" name="action" value="add" id="status">
    <input type="hidden" name="id" id="id" value="0">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header color-nav">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
                <div class="card-body">
  
                  <div class="form-group">
                    <div class="row">

                      <div class="col">
                        <label for="id_name">Nombre <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.name|add_class:'form-control'|attr:'name:name'|attr:'placeholder:Introduzca el Nombre'|attr:'autocomplete:off'|attr:'maxlength:100' }}
                      </div>
                      <div class="col">
                        <label for="id_type_stock">Unidad <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.type_stock|add_class:'form-control'|attr:'name:type_stock'|attr:'id:type_stock'}}
                      </div>

                    </div>
                  </div>


                  <div class="form-group" >
                    <div class="row">

                      <div class="col" id="div_hidden"> 
                        <label for="id_quantity">Cantidad (Unidad) <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.quantity|add_class:'form-control'|attr:'name:quantity'}}
                      </div>

                      <div class="col" id="input_hidden">
                        <label for="id_stock">Cantidad <span class="text-danger" title="Campo Obligatorio">*</span></label>
                        {{ form.stock|add_class:'form-control'|attr:'name:stock'|attr:'placeholder:Introduzca la cantidad'|attr:'autocomplete:off' }}
                      </div>

                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success btn-colores">Guardar</button>
          </div>
        </div>
      </div>
  </form>
</div>
<div class="modal fade" id="Modal_Detail" style="display: none" aria-hidden="true">
</div>

{% endblock modal %}
