{% extends "base.html" %}
{% load static %}
{% block tittle %}
<title>SISVET | Inicio</title>
{% endblock tittle %}
{% block contenido %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="{% url 'dashboard:dashboard' %}" class="text-success">SISVET</a></li>
            <li class="breadcrumb-item active">Inicio</li>
          </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">

</section>
{% endblock contenido %}